{% extends 'base.html' %}
{% load static %}


{% block body %}
    <main>
        <div class="container">
           
            <div class="row col-10 my-5" style="box-shadow: 3px -3px 0 cornflowerblue;">  
                <h1 style="box-shadow: 0px 3px 0 cornflowerblue;">Tüm Bloglar</h1>
                {% for i in blog_list %}
                <div class="col-3" >
                    <div class="card bg-black">
                        <img src="{% static 'img/adam1.jpg' %}" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title text-light">{{ i.title }}</h5>
                            <p class="card-text">{{  i.text|truncatechars:60  }}</p>
                            <p>{{ i.date_now }}</p>
                            <div class="user d-flex justify-content-between">
                                <small><i class="fa-regular fa-comment"></i>{{ i.comment_num }}</small>
                                <small class="text-primary">{{ i.user }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </main>
{% endblock body %}
    