{% extends 'base.html' %}
{% load static %}
{% block body %}
<main>
    <div class="container">
        <section class="my-5">
            <form method="POST" class="reply-form">
                {% csrf_token %}
                <span class="" id="basic-addon1">Adınız ve Soyadınız:</span>
                    <div class="input-group mb-3">
                        <input
                        name="fullname"
                        type="text"
                        class="form-control"
                        placeholder="Adınızı ve Soyadınızı giriniz"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                        />
                    </div>
                    <span class="" id="basic-addon2">Email:</span>
                    <div class="input-group mb-3">
                        <input
                        name="email"
                        type="text"
                        class="form-control"
                        placeholder="Email adresini giriniz"
                        aria-label="Recipient's username"
                        aria-describedby="basic-addon2"
                        />
                        
                    </div>
                    
                    <label for="basic-url" class="">Konu:</label>
                    <div class="input-group mb-3">
                        <input
                        name="subject"
                        placeholder="Konuyu giriniz"
                        type="text"
                        class="form-control"
                        id="basic-url1"
                        aria-describedby="basic-addon3"
                        />
                    </div>
                    <span class="">Mesajınız:</span>
                    <div class="input-group mb-3">
                        <input
                        name="text"
                        placeholder="Mesajınızı giriniz"
                        type="text"
                        class="form-control"
                        aria-label="Amount (to the nearest dollar)"
                        />
                    </div>
                    <div class="d-flex justify-content-end ">

                        <button   type="submit" class="btn btn-primary btn-rounded w-25" data-mdb-ripple-init>Gönder</button>
                    </div>
                </div>
            </form>
        </section>
    
</main>
{% endblock body %}
