{% extends 'base.html' %}
{% load static %}

{% block body %}
<main>
    <!-- CAROUSEL START -->
    <div class="d-flex justify-content-center my-1" style="width: 100%;">
      <img src="{% static 'img/anasayfavideo.gif' %}" alt="">
    </div>
    <!-- CAROUSEL END -->



      <div class="container-fluid my-5">
          <div class="row">
            <!-- SİDENAV1 START -->
<div class="col-2">
  <div>
    <p class="fw-bold fs-6" style="color: white;">İlginizi Çekebilecek Yazılır</p>
    <hr>
  </div>
  {% for i in blog_random_list  %}
    <a href="{% url 'detailPage' i.id %}">
      <ul class="list-group list-group-light mb-3">
        <li class="list-group-item">
          <h5 class="fw-bold fs-6 text-light">{{ i.title }}</h5>
          <div class="d-flex">
            <div><img style="width: 250px; height: 77px;" src="{{ i.image.url }}" alt=""></div>
          </div>
        </li>
      </ul>
    </a>
        {% endfor %}

    
</div>
<!-- SİDENAV1 END -->

              <!-- CARD START -->
              <div class="col-8" style=" box-shadow: -2px -2px 0  coral; border-radius: 5px; ">
                
                {% for i in blog_list %}
                  
                <div class="card mb-3 my-5" style="width: auto; height: 200px;"  >
                  <div class="row g-0">
                    <a href="{% url 'detailPage' i.id %}" class="col-md-4">
                      <img
                      src="{{i.image.url}}"
                      alt="Trendy Pants and Shoes"
                      class="img-fluid rounded-start" style="height: 200px; width: 400px;" 
                      />
                    </a>
                    <a href="{% url 'detailPage' i.id %}" class="col-md-8 bg-black text-light" style="display: flex; flex-direction: column; justify-content: space-between;">
                      <div class="card-body ">
                        <h5 class="card-title fw-bold">{{ i.title }}</h5>
                        <p class="card-text">
                          {{ i.text|truncatechars:250 }}
                        </p>
                        <div class="d-flex justify-content-between ">
                            <small class="text-muted ">{{ i.date_now }}</small>
                            <small class="text-info">{{ i.user }}</small>
                          </div>
                      </div>
                    </a>
                  </div>
                </div>
                <hr>
                {% endfor %}
              </div>
              <!-- CARD END -->


              <!-- SİDENAV2 START -->
              <div class="col-2">
                <div>
                  <p class="fw-bold text-light">En Popüler Yazılar</p>
                </div>
                <hr>

            {% for i in blog_likes  %}
              <a href="{% url 'detailPage' i.id %}">
                <ul class="list-group list-group-light">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <img src="{{ i.image.url }}" alt="" style="width: 45px; height: 45px"
                        class="rounded-circle" />
                        <div class="ms-3">
                          <p class="text-light mb-0">{{ i.title }}</p>
                        </div>
                      </div>
                    </li>
                    <div class="d-flex justify-content-between ">
                      <small></small>
                      <small class="fw-bold  mb-1 text-info">{{ i.user }}</small>
                    </div>  
                  </ul>
                </a>
                  {% endfor %}
                  <div>
                  <p class="fw-bold text-light">En Çok Yorum Alanlar</p>
                </div>
                <hr>

                {% for i in blog_comments %}
                <ul class="list-group list-group-light">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <img src="{{ i.image.url }}" alt="" style="width: 45px; height: 45px"
                        class="rounded-circle" />
                      <div class="ms-3">
                        <p class="text-light mb-0">{{ i.title }}</p>
                      </div>
                    </div>
                  </li>
                  <div class="d-flex justify-content-between ">
                    <div class="d-flex justify-content-between">

                      <small><i class="fa-regular fa-comment"></i>{{ i.comment_num }}</small>
                    </div>
                    <small class="fw-bold  mb-1 text-info">{{ i.user }}</small>
                  </div>  
                </ul>
                {% endfor %}
              </div>
              <!-- SİDENAV2 END -->



          </div>
        </div>
      
      
</main>
  
{% endblock body %}

      
      
      
      
      
      





